* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: #F9E0BD;
}




/* navigation bar */
.navbar {
    position: sticky;
    top: 0;
    background-color: #FFAC1C;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #D18400;
    z-index: 999;
}

.logo-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #4a7c44;
}

.nav-links {
    display: none;
    gap: 1.5rem;
}

.nav-link {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 500;
    color: #ffffff;
    transition: color 0.2s;
}


.nav-link:hover {
    color: #D18100;
}

.icon-hamburgerbar {
    color: #A36500;
    text-decoration: none;
    display: none;
    border: none;
    font-size: 1.5rem;
    background-color: #FFA500;
}

.icon-hamburgerbar:hover {
    color: #754800;
    transition: 0.3s;
}

/* ส่วน header */
.header {
    background-image: url("https://scontent.fkkc2-1.fna.fbcdn.net/v/t39.30808-6/613578813_1518699293150634_5104073489989562640_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=7b2446&_nc_eui2=AeETTBCIya4pS3pgZBUVKFYP-3hGrjkXdqb7eEauORd2ppBF3SzESzmMHlPFs1QmFovI71B6BJyDr35bHktY5qIl&_nc_ohc=vKEkOpH78DMQ7kNvwGQeBhA&_nc_oc=Adr23k2nOrPSy3KUfsqmuDYDVv9lWYL9iJ3UbMlLHcIJPr_k2Wt-gApN_Z7tFMJdqUvgFCpy0nRu3VIJ1735JiiA&_nc_zt=23&_nc_ht=scontent.fkkc2-1.fna&_nc_gid=7oQrUYHobeu9SRGvj89Z5A&_nc_ss=7b2a8&oh=00_Af5DVUKBIfNzrwAXDvEPjRU-7PFz0Zgd6Rj_asVb6tvwWw&oe=6A04AF0A");
    height: 60rem;
    background-size: cover;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 19);
    background-color: rgba(0, 0, 0, 0.4);
    border-bottom: 0.5rem solid #F08000;
}

.h1-1 {
    padding-top: 9rem;
    padding-left: 7rem;
    color: #ffffff;
    font-size: 4rem;
}

.h1-2 {
    padding-left: 10rem;
    color: #ffffff;
}

.detail {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    color: #F08000;
    text-align: center;

}

.data {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    color: #4b5563;
    text-align: center;
}

.hr {
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border: 2px solid #040505;
    width: 60%;
}







.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    height: auto;
}

.photo-1, .photo-2 {
    flex: 1 1 300px; /* ให้ยืดหยุ่น และมีขนาดพื้นฐาน 300px */
    margin: 0; /* ยกเลิก margin ที่เป็นค่าคงที่เยอะๆ */
    text-align: center;
}

.photo img {
    width: 100%; 
    max-width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 1rem;
    border: 0.5rem solid #ffae00;
}


.name-photo-1, .name-photo-2 {
    margin-left: 0;
    margin-bottom: 1rem;
}



/* footer */
.footer {
    background-color: #3E2723;
    padding: 3rem 1.5rem;
    margin-top: 5rem;
    display: flex;
    padding-bottom: 7rem;
    justify-content: space-around;
}

.tagline,.quick,.connect {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
    
}

.linetag, .quick-links, .contag {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #d1d5db;
}

.link1 {
    color: #d1d5db;
    display: block;
    text-decoration: none;
}

.link1:hover {
    color: #D18100;
    transition: 0.3s;
}




/* --- โหมด Desktop (จอใหญ่กว่า 768px) --- */
@media only screen and (min-width: 769px) {
    .nav-links {
        display: flex !important;
    }

    .icon-hamburgerbar {
        display: none;
    }
}



/* --- โหมดมือถือ (จอน้อยกว่าหรือเท่ากับ 768px) --- */
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FFA200;
        padding: 1rem;
        border-top: 2px solid #D18400;
        border-bottom: 2px solid #D18400;
        gap: 1rem;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-link {
        width: 100%;
        padding: 0.5rem 0;
        color: white;
        background-color: #D18400;
        border-radius: 0.375rem;
    }

    .icon-hamburgerbar {
        display: flex;
    }
}

/* เปลี่ยน footer ให้เป็นเเนวตั้ง */
@media only screen and (max-width: 900px) {
    .footer {
        flex-direction: column; 
        align-items: center;   
        text-align: center;
    }
    .tagline, .quick, .connect {
        margin-bottom: 1rem;
    }
}

/* ปรับให้ font พอดีกับหน้าจอ */
@media only screen and (max-width: 492px) {
    .h1-1 {
        padding-left: 1rem;
    }

    .h1-2 {
        padding-left: 2rem;
    }
    .detail {
        font-size: 2.5rem;
        padding: auto 2rem;
    }
    .data {
        padding: 0rem 2rem;
    }

}